*{
    background-color: rgb(143, 143, 172);
  }
  
  #menu, #contenedor {
    margin-top: 20px;
    width: 100%;
  }
  
  #encabezado,.pie{
    width: 100%;
  }
  
  body{
  height: 100vh;
  }
  
  #encabezado, .pie{
    height: 8%;
    background: rgb(88, 243, 243);
  }
  
  #menu{
    height: 5%;
    background: rgb(241, 241, 235);
  }
  
  #seccion, .articulo{
  height: 95%;
  }
  
  .articulo{
  width: 30%;
  margin-right: 15px;
  margin-left: 15px;
  background: rgb(199, 240, 199);
  }
  
  #seccion{
    width: 50%;
    background: rgb(202, 197, 198);
  }
  
  #contenedor{
    display: flex;
    height: 65%;
  }